annotated-types
anyio
async-timeout
certifi
charset-normalizer
click
colorzero
dht22
dht22-parse
exceptiongroup
fastapi
gpiozero
h11
httptools
idna
Jinja2
MarkupSafe
pigpio
pydantic
pydantic_core
python-dotenv
PyYAML
redis
requests
sniffio
sse-starlette
starlette
typing_extensions
urllib3
uvicorn
uvloop
watchfiles
websockets
